<script type="text/javascript">
document.addEventListener('DOMContentLoaded', function () {
  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
  // Check if there are any nav burgers
  if ($navbarBurgers.length > 0) {
    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {
        // Get the target from the "data-target" attribute
        var target = $el.dataset.target;
        var $target = document.getElementById(target);
        // Toggle the class on both the "navbar-burger" and the "navbar-menu"
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
});
</script>

<nav class="navbar is-light is-mobile">
    <div class="container">
        <div class="navbar-brand">
            <a href="/" class="navbar-item navbar-title">{{ $.Site.Title }}</a>
            <a href="/shows/" class="navbar-item">Shows</a>
            <a href="/submit/" class="navbar-item">Submit</a>
            <div class="navbar-burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="navMenu">

            <div class="navbar-start has-text-centered">
                <a href="/contact/" class="navbar-item">Contact</a>
                <a href="/about/" class="navbar-item">About</a>
                <a href="/posts/" class="navbar-item">Posts</a>
            </div>

            <div class="navbar-end">
                <form role="search">
                    <div class="field is-horizontal has-addons">

                        <div class="control">
                            <input type="text" class="input search-field" name="q">
                        </div>
                        <div class="control">
                            <button type="submit" class="button">Search</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</nav>