{{ define "main" }}

<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container section">
            <h1 class="title is-size-2 is-size-1-desktop has-text-weight-light">St. Augustine Music Project</h1>
            <h2 class="subtitle has-text-weight-light">St. Augustine's ad-free resource for arts & entertainment listings. Facebook can go away now.</h2>
            <p class="has-text-weight-light" style="margin-bottom: 2rem;">Register below to receive show notifications in your inbox. Choose the frequency that you want to receive updates. Your information will never be shared with any outside sources. Feel free to read our <a href="/privacy">privacy policy</a>—it's written in plain English.</p>

            <form name="newsletter" data-netlify="true" id="newsletter-hero">
                <div class="columns is-mobile">
                    <div class="column is-full is-three-fifths-desktop">
                        <div class="field has-addons">
                            <div class="control">
                                <input name="email" class="input is-large" type="text" placeholder="Email address">
                            </div>
                            <div class="control">
                                <a class="button is-large is-primary">
                                Sign Up
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="control">
                        <label class="radio">
                            <input type="radio" name="foobar">
                            Regular updates
                        </label>
                        <label class="radio">
                            <input type="radio" name="foobar" checked>
                            Less frequent updates (once a week)
                        </label>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>

<div class="container">
    <div class="section">
        <h3 class="title is-size-4 is-size-3-desktop is-capitalized has-text-weight-light">Upcoming Shows</h3>
        
        <ul>
            {{ range where .Pages "Section" "shows" }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a> {{ .Date.Format "Mon, Jan 2, 2006" }}
                </li>
            {{ end }}
        </ul>
    </div>
    
    <div class="section">
        <h3 class="title is-size-4 is-size-3-desktop is-capitalized has-text-weight-light">Latest Posts</h3>
        
        <ul>
            {{ range where .Pages "Section" "posts" }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a> {{ .Date.Format "Mon, Jan 2, 2006" }}
                </li>
            {{ end }}
        </ul>
    </div>
</div>

{{ end }}
