{{ define "main" }}

<section class="hero is-dark is-bold">
    <div class="hero-body">
        <div class="container section has-text-centered">
            <h1 class="title is-size-2 is-size-1-desktop has-text-weight-light">St. Augustine Music</h1>
            <h2 class="subtitle has-text-weight-light">Welcome to St. Augustine's community-run directory for arts & entertainment events. No tracking, no ads. Built for musicians by musicians.</h2>
            <p class="has-text-weight-light" style="margin-bottom: 2rem;">Register below to receive event notifications in your inbox. Your information will never be shared with any outside sources and you can ubsubscribe at any time. Feel free to read our <a href="/privacy">privacy policy</a>—it's written in plain English.</p>

            <form name="newsletter" id="newsletter-hero" action="https://stamusic.us20.list-manage.com/subscribe/post?u=60c2df24c068cf631fc32805c&amp;id=87febc3aba" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="columns is-mobile is-gapless">
                    <div class="column"></div>
                    <div class="column is-full-mobile is-three-quarters-tablet is-two-fifths-widescreen">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input name="EMAIL" class="input is-large" type="email" placeholder="Email address">
                            </div>
                            <div class="control">
                                <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button is-large is-info">
                            </div>
                        </div>
                    </div>
                    <div class="column"></div>
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_60c2df24c068cf631fc32805c_87febc3aba" tabindex="-1" value=""></div>
            </form>

        </div>
    </div>
</section>

        <div class="container section is-light is-bold">

            <div class="columns">
                <div class="column">
                    <h3 class="title is-size-4 is-size-3-desktop is-capitalized has-text-weight-light">Upcoming Shows</h3>
                    
                    <ul>

                        {{ $events := where .Site.RegularPages "Section" "shows" }}
                        {{ $events := $events | intersect (where $events "Date" "ge" now) | first 5 }}
                        {{- range $events -}}

                            {{ partial "views/li.html" . }}

                        {{- end -}}
                        
                    </ul>
                </div>
    
                
                <div class="column">
                    <h3 class="title is-size-4 is-size-3-desktop is-capitalized has-text-weight-light">Recent Posts</h3>
                    
                    <ul>
                        {{ range where .Pages "Section" "posts" | first 5 }}
                            {{ partial "views/li.html" . }}
                        {{ end }}
                    </ul>

                </div>
            </div>

        </div>

{{ end }}
