{{ define "main" }}
    <div class="container section is-light is-bold">

        <div class="columns">

            <div class="column">
                <h3 class="title is-size-4 is-size-3-desktop is-capitalized has-text-weight-light">Latest Shows</h3>
                
                <ul>
                    {{ range where .Pages "Section" "shows" | first 5 }}
                        {{ partial "li.html" . }}
                    {{ end }}
                </ul>

            </div>
        </div>

    </div>

{{ end }}
