{{ define "main" }} {{ $section := .Site.GetPage "section" .Section }}

<div class="container section">
  <article class="content">
    {{ if isset .Params "featured_image" }}<img src="{{ .Params.featured_image }}" alt="">{{ end }}
    <h1 class="title is-size-3 is-size-1-desktop has-text-weight-light">{{ .Title }}</h1>

    
    <div class="article__metadata">{{ .Date.Format "January 2, 2006" }} at {{ .Params.venue }}</div>

    {{ if .Content }} <main class="article__content">{{- .Content -}}</main> {{ end }}

    {{ if .Params "bands" }}
      <ul>
      {{ range .Params.bands }}
          <li>{{ . }}</li>
      {{ end }}
      </ul>
    {{ end }}

  </article>
</div>

{{ end }}
